<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Studynet</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'task/task.css' %}" />
      <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="refresh" content="300">
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />

  </head>

  <body>
    <ul class = "list-menu">
        <b id = "header" class = "header" >Studynet</b>
        <li><a href="timer">Begin Task</a> </li>
        <li><a href="showfinishedtask">Finished Task</a> </li>
        <li><a href="showdeletedtask">Deleted Task</a> </li>
        <li><a href="tasklist">Task</a> </li>
    </ul>
    <div class="content-body">
        <div class="tasklist">
        <ul id="myUL">
                {% csrf_token %}
            <script>
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                fetch("getdeletedtask", {
                    headers:{'X-CSRFToken': csrftoken},
                    method: 'POST',
                    credentials: 'same-origin',
                }).then(response=>response.json())
                .then(data=>Object.keys(data).forEach(function(taskname){
                    taskinfo = data[taskname]
                    let isfinished = taskinfo["isfinished"]
                    let timespend = taskinfo["timespent"]

                    var li = document.createElement("li");
                    var t = document.createTextNode(taskname);
                    li.appendChild(t);
                    var span = document.createElement("SPAN");
                    var txt = document.createTextNode("Restore");
                    span.className = "close";
                    span.appendChild(txt);
                    span.addEventListener("click",function restoredelete(event){
                        let s = this.parentElement;
                        s.style.display = "none";
                        const formData = new FormData();
                          formData.append('taskname', s.textContent);
                        fetch("restoredeletetask", {
                            headers:{'X-CSRFToken': csrftoken},
                            method: 'POST',
                            credentials: 'same-origin',
                            body: formData,
                        })
                    })
                    li.appendChild(span);

                    if (isfinished == 1){
                        li.classList.toggle('checked')
                    }
                    document.getElementById("myUL").appendChild(li)
                }))
            </script>
        </ul>
            </div>

    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
</html>


