<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'task/report.js' %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<style>
    
    .selectFriend{
        width: 150px; 
        height: 40px;
        font-size: 20px; 
        border-radius: 5px;
        border: 2px solid lightgray;
        font-family: 'Ubuntu', sans-serif;
    }
    .selectDate{
        width: 150px; 
        height: 40px;
        font-size: 20px; 
        border-radius: 5px;
        border: 2px solid lightgray;
        font-family: 'Ubuntu', sans-serif;
    }
</style>
<body>
      <ul class = "navbar">
          <li class = "nav_of_group"><a href="/task/tasklist">My Task</a></li>
          <li ><a href="/chat/grouplist">My Friends/Groups</a></li>
          <li><a href="/user/profile">My Profile</a></li>
          <li><a href="/signout">Sign Out</a></li>
      </ul>
<div class="content-body">
    <div class="sideBar"  >
        <div  class="sideBar-item"  onclick="location.href='/task/tasklist'"><p><br><i class="bi bi-list-task" style="font-size: 30px"></i><br>Task list</p></div>
        <div  class="sideBar-item" onclick="location.href='/task/showdeletedtask'"><p><br><i class="bi bi-trash3-fill" style="font-size: 30px"></i><br>Deleted Task</P></div>
        <div  class="sideBar-item"  onclick="location.href='/task/showfinishedtask'"><p><br><i class="bi bi-card-checklist" style="font-size: 30px"></i><br>Finished Task</P></div>
      <div  class="sideBar-item" onclick="location.href='/task/timer'"><p><br><i class="bi bi-hourglass-split" style="font-size: 30px"></i><br>Begin Task</P></div>
      <div  class="sideBar-item" style="background:#c4dad8" onclick="location.href='/task/report'"><p><br><i class="bi bi-envelope-paper-heart" style="font-size: 30px"></i><br>Report</P></div>
    </div>
        <div class="header">
            <h2> Report</h2>
            <br>
            {% csrf_token %}
            <label for="friend_list" style="color: #6371c5;">Select a user</label>
            <select class="selectFriend" id="friend_list" required >
                <option value="Me">Me</option>
              </select>
            <br>
            {% csrf_token %}
            <div style="margin-top: 20px;">
            <label for="report_date" style="color: #6371c5">Select a date</label>
            <input class = "selectDate" type="date" id="report_date" name="date">

            <canvas id="myChart" style="height:400px; width:1200px" ></canvas>
<!--            <canvas id="pieChart" style="height:200px; width:1500px" ></canvas>-->
</div>
        </div>
    </div>
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch("get_friend_list", {
            headers: {'X-CSRFToken': csrftoken},
            method: 'POST',
            credentials: 'same-origin',
        }).then(response=>response.json())
            .then(data=>{
                console.log(data)
                let select_e = document.querySelector('select');
                for (let i = 0; i < data.length; ++i) {
                    let opt = document.createElement('option');
                    opt.value = data[i];
                    opt.innerText = data[i];
                    select_e.appendChild(opt);
                    }
                }
            )

        document.querySelector('#report_date').addEventListener('input',getdatedata)

        function getdatedata(e){
            let user_selected =document.querySelector("#friend_list").value;

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const formData = new FormData();
            formData.append('date', e.target.value);
            formData.append("user", user_selected);
            fetch("get_report_data", {
                headers:{'X-CSRFToken': csrftoken},
                method: 'POST',
                credentials: 'same-origin',
                body: formData,
            }).then(response=>response.json())
                .then(data=>{
                    if (data==-1){
                        let head = document.querySelector('.header');
                        let message = document.createElement('h4');
                        message.innerText = "The privacy settings of your friend is false.";
                        message.style= "color: red";
                        head.appendChild(message);
                    }
                    else{
                        var chartjsData = [];

                        for (var i = 0; i < data.length; i++) {
                            chartjsData.push(data[i].timespent);
                            }
                        var chartjslabel = [];
                        for (var i = 0; i < data.length; i++) {
                            chartjslabel.push(data[i].taskname);
                            }
                        //生成图表
                        $('#myChart').remove(); // this is my <canvas> element
                        $('.header').append('<canvas id="myChart" style="height:400px; width:1200px" ></canvas>');
                            ctx = document.getElementById("myChart").getContext("2d");
                                    var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: chartjslabel,
                                datasets:  [
                                        {
                                            label: "Finished tasks",
                                            fillColor : "rgba(220,280,220,0.5)",
                                            strokeColor : "rgba(220,220,220,1)",
                                            data : chartjsData
                                        }
                                    ]
                            },
                            options: {
                                layout:{
                                   padding: {
                                        left:400,
                                        top:100
                                    },
                                },
                                responsive:false,
                                plugins:{
                                    title:{
                                    display:true,
                                    text:"Task Time"
                                },

                                },
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }

            })
        }
        // var json = [
        //     {"taskname":"project A",
        //     "timespent":"100"},
        //     {"taskname":"projectB","timespent":"200"},
        //     {"taskname":"project c","timespent":"300"}];
        //     // 分成两个list


//倒出几类task的数目做饼状图
// var json2 =[    {"classname":"finished","number":"100"},
// {"classname":"unfinished","number":"200"},
// {"classname":"deleted","number":"300"}
//
// ];
// var chart2jsData = [];
//     for (var i = 0; i < json2.length; i++) {
//         chart2jsData.push(json2[i].number);
//     }
//     var chart2jslabel = [];
//     for (var i = 0; i < json2.length; i++) {
//         chart2jslabel.push(json2[i].classname);
//     }
// var ctx = document.getElementById('pieChart').getContext('2d');
// var pieChart = new Chart(ctx, {
//     type: 'pie',
//     data: {
//         labels: chart2jslabel,
//         datasets:  [
//                 { backgroundColor: ["rgba(220,20,60, 0.8)","rgba(255,130,71,0.8)",'rgba(255, 159, 64, 0.2)'],
//                     data : chart2jsData
//
//                 }
//             ]
//     },
//     options: {
//         layout:{
//            padding: {
//                 left:20,
//                 top:50
//
//             },
//         },
//         responsive:false,
//         title:{
//             display:true,
//             text:"finished:unfinished:deleted"
//         },
//     }
// })

    </script>
    <footer>

        <span class="author">
          Crafted with ❤️ by Studynet © 2022
        </span>
      </footer>
</body>
</html>
