<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Studynet</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'task/task.css' %}" />
      <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="refresh" content="300">
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
</head>
<body>
      <ul class = "navbar">
          <li class = "nav_of_group"><a href="/task/tasklist">My Task</a></li>
          <li ><a href="/chat/grouplist">My Friends/Groups</a></li>
          <li><a href="/user/profile">My Profile</a></li>
      </ul>
    <div class="content-body">
         <div class="sideBar"  >
              <div  class="sideBar-item" onclick="location.href='/task/tasklist'" ><p><br><i class="bi bi-person-plus-fill" style="font-size: 30px"></i><br>Task list</p></div>
              <div  class="sideBar-item" onclick="location.href='/task/showdeletedtask'"><p><br><i class="bi bi-card-list" style="font-size: 30px"></i><br>Deleted Task</P></div>
              <div  class="sideBar-item" onclick="location.href='/task/showfinishedtask'"><p><br><i class="bi bi-chat-left-text-fill" style="font-size: 30px"></i><br>Finished Task</P></div>
            <div  class="sideBar-item" onclick="location.href='/task/timer'"><p><br><i class="bi bi-chat-left-text-fill" style="font-size: 30px"></i><br>Begin Task</P></div>
            <div  class="sideBar-item" onclick="location.href='/task/report'"><p><br><i class="bi bi-chat-left-text-fill" style="font-size: 30px"></i><br>Report</P></div>
          </div>
        <div class="header">
            <div id="timer">
              <span id="hours">00:</span>
              <span id="mins">00:</span>
              <span id="seconds">00</span>
            </div>
            <div id="controls" style="align-content: center">
                {% csrf_token %}
                <button class="addBtn" id="start" style="align-content: center">Start</button>
                <button class="addBtn" id="stop" style="align-content: center">Stop</button>
                <button class="addBtn" id="reset" style="align-content: center">Finished</button>
            </div>
        </div>
        <div class="tasklist">
        <ul id="myUL">
                {% csrf_token %}
            <script>
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                fetch("getdoinglist", {
                    headers:{'X-CSRFToken': csrftoken},
                    method: 'POST',
                    credentials: 'same-origin',
                }).then(response=>response.json())
                .then(data=>Object.keys(data).forEach(function(taskname){
                    taskinfo = data[taskname]
                    let isfinished = taskinfo["isfinished"]
                    let timespend = taskinfo["timespent"]

                    var li = document.createElement("li");
                    var t = document.createTextNode(taskname);
                    li.appendChild(t);
                    var span = document.createElement("SPAN");
                    var txt = document.createTextNode("\u00D7");
                    span.className = "close";
                    span.appendChild(txt);
                    span.addEventListener("click",function deletetask(event){
                        let s = this.parentElement;
                        s.style.display = "none";
                        const formData = new FormData();
                          formData.append('taskname', s.textContent);
                        fetch("deletetask", {
                            headers:{'X-CSRFToken': csrftoken},
                            method: 'POST',
                            credentials: 'same-origin',
                            body: formData,
                        })
                    })
                    li.appendChild(span);

                    if (isfinished == 1){
                        li.classList.toggle('checked')
                    }
                    document.getElementById("myUL").appendChild(li)
                }))
            </script>
        </ul>
            </div>
    </div>
<script>
    let hours =0;
    let mins =0;
    let seconds =0;

    $('#start').click(function(){
          startTimer();
    });

    $('#stop').click(function(){
          clearTimeout(timex);
    });

    $('#reset').click(function(){
        addtimespent(hours,mins,seconds);
          hours =0;      mins =0;      seconds =0;
      $('#hours','#mins').html('00:');
      $('#seconds').html('00');
    });

    function addtimespent(h,m,s){
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const formData = new FormData();
        let tasks = document.querySelectorAll("#myUL li");
        let tasknames = [];
        for (i=0; i<tasks.length; ++i){
            tasknames.push(tasks[i].textContent);
        }
        times = h*3600+m*60+s;

        // console.log(tasknames)
            formData.append('tasknames', tasknames);
            formData.append("time",times)
            fetch("addtimespent", {
                headers:{'X-CSRFToken': csrftoken},
                method: 'POST',
                credentials: 'same-origin',
                body: formData,
            })
    }

    function startTimer(){
      timex = setTimeout(function(){
          seconds++;
        if(seconds >59){seconds=0;mins++;
           if(mins>59) {
           mins=0;hours++;
             if(hours <10) {$("#hours").text('0'+hours+':')} else $("#hours").text(hours+':');
            }

        if(mins<10){
          $("#mins").text('0'+mins+':');}
           else $("#mins").text(mins+':');
                       }
        if(seconds <10) {
          $("#seconds").text('0'+seconds);} else {
          $("#seconds").text(seconds);
          }


          startTimer();
      },1000);
    }
    // Add a "checked" symbol when clicking on a list item
    let list = document.querySelector('.tasklist ul');
    list.addEventListener('click', function(ev) {
      if (ev.target.tagName === 'LI') {
        ev.target.classList.toggle('checked');
        const formData = new FormData();
        const tzString = Intl.DateTimeFormat().resolvedOptions().timeZone;
        const isoStr = new Date().toLocaleString("en-us",{timeZone: tzString})

        formData.append('taskname', ev.target.innerText);
        formData.append('tmstp', isoStr);
        formData.append('csrfmiddlewaretoken', csrftoken);
        fetch("changefinishedstatus",{
            headers:{'X-CSRFToken': csrftoken},
            credentials: 'same-origin',
            method: 'POST',
            body: formData,
        })
      }
    }, false);

</script>
</body>
</html>