{% extends "chat/group.html" %}

{% block content %}
    <style>
        .sideBar-item-top{
            background: #c4dad8;
        }
        .groupMain {
            padding-right: 7vw;
        }
        .title{
            color: #a8b3be;
            padding-right: 50px;
        }

        h3 {
            margin: 0;
            padding-right: 50px;
        }
        .search-form {
            width: 450px;
            align-self: center;
            margin: auto;
            text-align: left
        }
        input[type=text] {
            float: center;
            padding: 6px;
            border: 2px solid lightgray;
            margin-top: 8px;
            margin-right: 16px;
            margin-left:20px;
            font-size: 20px;
            width: 270px;
            border-radius: 10px;
            height: 40px;
            align-self: center;
        }
        input[type="radio"]{
            height: 15px;
        }
        .button {
            float: center;
            padding: 6px;
            border: 2px solid lightgray;;
            margin-top: 25px;
            padding-top:4px;
            margin-right: 16px;
            font-size: 17px;
            width: 55px;
            height: 55px;
            border-radius: 10px;
        }
        .button:hover{
            cursor: pointer;
        }
        
        .listItem {
            background: #eed1ac;
            border-radius: 10px;
            height: 75px;
            width: 350px;
            padding: 5px 5px;
            margin: 20px auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        .listItem:hover{
            background: #da9784;
            cursor: pointer;
        }
        .listItem .info-name{
            font-size: 25px;
            /*display:inline-block;*/
            margin: 5px;
            margin-top: 10px;
            font-weight: bold;
        }
        .listItem .info-des{
            color: gray;
            font-size:18px;
            /*display:inline-block;*/
            margin:5px;
        }
        
        .create {
            color: #123777;
            font-size: 40px;
            
        }
        .create:hover{
            cursor: pointer;
            color: #99adce;
        }
        
        .notice{
            color:#123777;
            text-align: left;
            margin-left:40px;
            line-height: 30px;
        }


    </style>
        <h1 class="title">StudyNet - Add Friend/Group</h1>
        <div class = "search-form">
        <form  action="/chat/groupsearch" method="post">
            {% csrf_token %}
            <div>
                <input class="input" name="groupname" type="text"  placeholder="Search..." required>
                
                <button  class="button" type="submit" >
                    <i class="bi bi-search" style="font-size: 30px"></i>
                </button>
            </div>
            <p class="notice-start"> Please select a serach option:</p>
            <div class="option">
                <input class = "radio" type="radio" name="search_type" value="private_group" required>
                <label> Search by group ID</label>
                <p class="notice"> - join public group or private group <br>(ask the target group member for the private group ID)</p>
            </div>
            <div class="option">
                <input class = "radio" type="radio" name="search_type" value="public_group" required>
                <label> Search by group name</label>
                <p class="notice"> - explore public groups and join freely</p>
            </div>
            <div class="option">
                <input class = "radio" type="radio" name="search_type" value="friend" required>
                <label> Search by friend ID</label>
                <p class="notice"> - add friend, ask your friend for his/her user ID <br></p>
            </div>

        </form>
        </div>
        
        
        {% block form %}
        
        {% endblock %}
        <h2>Click the card to ADD group/friend  </h2>
        <div id="app">
            <!--<div class="search-result" v-if="showList" >-->
                {% csrf_token %}
                <div class="listItem" @click="addGroup(item)" v-for="item in res_group_list" :key="item" >
                    <p class="info-name">[[item.group_name]]</p>
                    <p class="info-des">[[item.description]]</p>
                </div>
            <!--</div>-->
        </div>
        
        <h2>No suitable group found? <a onclick="location.href='/chat/groupcreate';"  class="create">CREATE</a> a new group!</h2>
        
        <p><br></p>

    {{ status|json_script:"status" }}
    {{ res_group_list|json_script:"res_group_list" }}
    

  <script>
    let status = JSON.parse(document.getElementById('status').textContent);
    let res_group_list = JSON.parse(document.getElementById('res_group_list').textContent);
    console.log(res_group_list)
    console.log(status)
    const app =  Vue.createApp({
        delimiters: ['[[', ']]'],
        el: '#app',
        data() {
            return {
                status: status,
                res_group_list: res_group_list
            }
        },
        methods: {
            addGroup(item){
                console.log(item)
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const formData = new FormData();
                formData.append("groupname", item.group_name);
                fetch("groupadd", {
                    headers:{'X-CSRFToken': csrftoken},
                    method: 'POST',
                    body: formData,
                    credentials: 'same-origin'
                })
                window.alert("Add successfully. Please check your group/friend list")
                location.href='/chat/groupadd'
            }
            
        },
        mounted: function(){
            console.log('== mounted ==')
        }
    });
    app.mount('#app');


      
  </script>
{% endblock %}