{% extends "chat/group.html" %}

{% block content %}
    <style>
        .title{
            padding-top: 2vh;
            padding-bottom: 2vh;
        }
        .sideBar-item-bottom{
        background: #c4dad8;
        }
        .people-list {
        /*display: none;*/
        width: 250px;
        height: 450px;
        padding-right: 20px;

        position: absolute;
        border: 2px solid gray;
    }

    .chat{
        border-radius: 3px;
        background: rgba(248, 250, 251, 0.7);
        border: 2px solid gray;
    }
    .people-list .chat-list{
        overflow-y: scroll;
        height: 200px;
        border: 2px solid gray;
    }
    .people-list .chat-list li {
        padding: 10px 15px;
        list-style: none;
        border-radius: 3px
    }

    .people-list .chat-list li:hover {
        background: #efefef;
        cursor: pointer
    }

    .people-list .chat-list li.active {
        background: #efefef
    }

    .people-list .chat-list li .name {
        font-size: 15px
    }

    .people-list .chat-list img {
        width: 45px;
        border-radius: 50%;

    }

    .people-list img {
        float: left;
        border-radius: 50%;
    }

    .people-list .about {
        display:inline-block;
        padding-left: 8px;
        margin-left: 10px;
    }

    .people-list .status {
        color: #999;
        font-size: 13px
    }
    .clearfix-title {
        height: 20px;
        border-top: #444;
    }
    .claerfix{
        text-align: left;

    }
    .chat-block{
        margin-left: 250px;
        border: 2px solid gray;
        border-bottom: 2px solid gray;
        height: 77vh;
    }
    .chat-header {
        padding: 0px 0px;
        border: 2px solid gray;
        height: 10vh;
    }

    .chat-header img {
        float: left;
        border-radius: 40px;
        width: 40px
    }

    .chat-header .chat-about {
        float: left;
        padding-left: 10px
    }

    .chat-history {
        border-bottom: 2px solid grey;
        overflow-y: scroll;
        height: 60vh;
    }

    .chat-history ul {
        padding: 0
    }

    .chat-history ul li {
        list-style: none;
        margin-bottom: 30px
    }

    .chat-history ul li:last-child {
        margin-bottom: 0px
    }

    .chat-history .message-data {
        margin-bottom: 15px;
        display: block;
        
    }

    .chat-history .message-data img {
        border-radius: 40px;
        width: 40px
        
    }

    .chat-history .message-data-time {
        color: #434651;
        padding-left: 6px;
        display: block;

    margin-left: auto; 
    margin-right: 0;
    }

    .chat-history .message {
        color: #444;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        display: inline-block;
        position: relative
    }

    .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px
    }

    .chat-history .my-message {
        background: #efefef;
        float: left;
        text-align: left;
    }

    .chat-history .my-message:after {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #efefef;
        border-width: 10px;
        margin-left: -10px
    }

    .chat-history .other-message {
        background: #e8f1f3;
        float: right;
        margin-right:10px;
        text-align: left;
    }

    .chat-history .other-message:after {
        border-bottom-color: #e8f1f3;
        left: 93%
    }
    .chat-message {
        padding: 0px;
        height: 7vh;
    }
    .text-right{
        margin-right:10px;
    }
    </style>

    <p><br></p>
    <h1 class="title">StudyNet - ChatBox</h1>
    <div id="app">
        <div class="chat"> 
        <div id="plist" class="people-list ">
                
            <div class="clearfix clearfix-title">
                        <div class="about">
                            <div class="name"></div>
                        </div>
                </div>  
                <!--
                <div class="chat-list">
                    <div class="clearfix" v-for="friend in friends " :key="friend.ID">
                        <img :src="require('../../assets/'+friend.photo )">
                        <div class="about" >
                            <div class="name">{{friend.name}}</div>
                            <div class="status"> <i class="fa fa-circle online"></i> online </div>
                        </div>
                    </div> 
                    
                    
                </div>
-->
                <div class="clearfix clearfix-title">
                        <div class="about">
                            <div class="name"></div>
                        </div>
                </div> 
                <ul class="list-unstyled chat-list mt-2 mb-0">                                      
                    <li class="clearfix">
                        <div class="about">
                            <div class="name">Group1</div>
                            <div class="status"> <i class="fa fa-circle online"></i> online </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="about">
                            <div class="name">Group2</div>
                            <div class="status"> <i class="fa fa-circle online"></i> online </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="about">
                            <div class="name">Group3</div>
                            <div class="status"> <i class="fa fa-circle offline"></i>  Oct 28 </div>
                        </div>
                    </li>
                </ul>
            </div>
        <div class="chat-block">
            <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="../../assets/photo2.jpg" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">Alice</h6>
                                <small>Online</small>
                            </div>
                        </div>
                        
                    </div>
                </div>
        <div class="chat-history ">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message-data text-right">
                                <span class="message-data-time">10:10 AM, Today</span>
                            </div>
                            <div class="message other-message float-right"> Hi Alice, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix" v-for="message in prev_messages" :key="message.text">
                            <div class="message-data  " >
                                <span class="message-data-time">[[message.time]]</span>
                            </div>
                            <div class="message my-message">[[message.text]]</div>                                    
                        </li>                               
                        
                        <li class="clearfix">
                            <div class="message-data " >
                                <span class="message-data-time">10:20 AM, Today</span>
                            </div>
                            <div class="message other-message float-right"> Ok, that sounds great! </div>
                        </li>
                        
                    </ul>
                    
        </div>
        <div class="chat-message">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" @click="clickSend"><i class="bi bi-send-fill"></i></span>
                        </div>
                        <input v-model="myInput" @keyup.enter="clickSend" type="text" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
        </div>
        </div>
    </div>
    {{ room_name|json_script:"room_name" }}
    {{ prev_messages|json_script:"prev_messages" }}



    <script>

    let room_name = JSON.parse(document.getElementById('room_name').textContent);
    let prev_messages = JSON.parse(document.getElementById('prev_messages').textContent);
    
    
     /*
    

    chatSocket.onmessage = function (e) {
    var data = JSON.parse(e.data);
    var message = data.message;
    /*var typing = data.typing;
    if (typing) {
        var userName = data.username;
        var outOfFocus = data.outoffocus;
        if (currentUser !== userName) {
            if (outOfFocus) {
                document.getElementById("typingNotification").innerHTML = ' ';
            } else {
                document.getElementById("typingNotification").innerHTML = userName + ' is typing' + '\n';
            }
        }
    }
        if (message) {
            document.querySelector('#chat-log').value += (message + '\n');
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
        document.querySelector('#chat-message-submit').click();
    };
/*
    document.querySelector('#chat-message-input').onblur = function (e) {
    console.log('on focus out event generated');
    chatSocket.send(JSON.stringify({
        username: currentUser,
        typing: true,
        outoffocus: true
    }));
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            message: message,
            timestamp: getTimeStamp()
        }));
        messageInputDom.value = '';
    };
*/
    const app =  Vue.createApp({
        delimiters: ['[[', ']]'],
        el: '#app',
        
        data() {
            return {
                room_name: room_name,
                prev_messages: prev_messages,
                chatSocket: null,
                myInput: "",
            }
        },
        methods: {
            /*enterFriendChat(friend){
                console.log(friend)
                //chatSocket.send(JSON.stringify({roomName: friend.ID}))
            },*/
            clickSend(){
                if (this.myInput != ""){
                    console.log(this.myInput)
                    //this.chatSocket.send(JSON.stringify({
                    //    message: myInput,
                    //    timestamp: getTimeStamp()
                    //}))
                    this.myInput = ""
                }
                
            },
        },
        mounted: function(){
            console.log("Starting connection to WebSocket Server")
            this.chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + room_name + '/')

            this.chatSocket.onmessage = function(event) {
                console.log(event)
                var data = JSON.parse(e.data)
                var message = data.message
                if (message) {
                    this.prev_messages.push(message)
                    //document.querySelector('#chat-log').value += (message + '\n');
                }
            }
            
            this.chatSocket.onopen = function(event) {
                console.log(event)
                console.log("Successfully connected to the echo websocket server...")
            }
            this.chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            }
        }
    });
    app.mount('#app');

    </script>
{% endblock %}