{% extends "chat/group.html" %}

{% block content %}
    <style>
        .sideBar-item-middle{
            background: #c4dad8;
        }
        .title{
            color: #a8b3be;
        }
        .groupMain {
            padding-right: 7vw;
        }
        .row {
            display: flex;
            margin-left: 5vw;
        }
        .list {
            flex: 50%
        }
        .listItem-friend {
            background: #E3D3d4;
            border-radius: 10px;
            height: 75px;
            width: 350px;
            left: 20%;
            padding: 5px 5px;
            margin: 20px auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        .listItem-group {
            background: #d0cdcf;
            border-radius: 10px;
            height: 100px;
            width: 350px;
            left: 20%;
            padding: 5px 5px;
            margin: 20px auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        .listItem-friend:hover{
            background: #baa4b6;
            cursor: pointer;
        }
        .listItem-group:hover {
            background: #adb9bf;
            cursor: pointer;
        }
        .listItem-group:hover .info-ID{
            visibility: visible;
        }
        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
        }
        @media screen and (max-width: 1000px) {
            .row{
                display: block;
            }
            .list {
                display: block;
            }
        }
        .photo{
            width: 60px;
            float: left;
            border-radius: 50%;
            margin-top: 10px;
            margin-left: 20px;
        }
        
        .info{
            display:inline-block;
            margin-top: 10px;;
            text-align:left;
        }
        .info-name{
            font-size: 25px;
            /*display:inline-block;*/
            margin: 5px;
            margin-top: 0px;
            font-weight: bold;
            line-height: 35px;
        }
        .listItem-friend .info-name{
            margin-top: 20px;
            padding-right: 50px;
        }
        .info-ID{
            color: gray;
            font-size:20px;
            /*display:inline-block;*/
            margin:5px;
            visibility: hidden;
        }
        .info-ID:hover{
            cursor: text;
        }
        .notice{
            color:#123777;
            text-align: center;
            line-height: 30px;
            font-size: 18px;
        }
        .notice span{
            font-weight: bold;
        }
    </style>
        
        <div id = "app">
            
            <h1 class="title" >Studynet - [[current_user]] - Friends/Groups List</h1>
            <p class="notice"><span>Mouseover</span> group card: &nbsp;&nbsp;show <span>group ID</span> </p> 
            <p class="notice"><span>Click</span> the card: &nbsp;&nbsp;enter <span>Chatroom</span></p> 
            <div class="row">
            <div class="list">
                <h1 >My friends</h1>
                <div class="listItem-friend"  @click="enterFriendChat(friend)"  v-for="friend in friend_list " :key="friend.ID">
                    <img class="photo" :src="friend.image">
                    <p class="info-name" >[[friend.friend_name]]</p>
                </div> 
            </div>
            <div class="list">
                <h1>My groups</h1>
                <div class="listItem-group"  @click.self="enterGroupChat(group)" v-for="group in group_list " :key="group.ID">
                  <p class="info-name" @click="enterGroupChat(group)">[[group.group_name]]<br> [[group.mumberNum]] mumbers</p>
                  <p class="info-ID">ID: [[group.group_id]]</p>
                </div>
            </div>
            </div>
        </div>
         <div>
        
    </div> 
    
   
    {{ current_user|json_script:"current_user" }}
    {{ group_list|json_script:"group_list" }}
    {{ friend_list|json_script:"friend_list" }}
    


  <script>
    let current_user = JSON.parse(document.getElementById('current_user').textContent);
    let group_list = JSON.parse(document.getElementById('group_list').textContent);
    let friend_list = JSON.parse(document.getElementById('friend_list').textContent);
    console.log(group_list)
    console.log(friend_list)
    const app =  Vue.createApp({
        delimiters: ['[[', ']]'],
        el: '#app',
        data() {
            return {
                current_user: current_user,
                friend_list: friend_list,
                group_list: group_list,
            }
        },
        methods: {
            enterFriendChat(friend){
                console.log(friend)
                let room_name = friend.friend_name
                window.location.pathname = '/chat/' + 'f' + room_name +'/'

            },
            enterGroupChat(group){
                console.log(group)
                let room_name = group.group_name
                window.location.pathname = '/chat/' + 'g' + room_name +'/'
            }

            
        }
    });
    app.mount('#app');

      //document.getElementById("listItem-friend").onclick =  function (e){
      //  console.log(e);
      //  friend_list.push({ 'name': 'Wendy', 'ID': 123456, 'photo': 'photo1.jpg' });
      //console.log(friend_list);
      //}
    
      
  </script>

{% endblock %}
