{% extends "chat/group.html" %}

{% block content %}
    <style>
        .sideBar-item-top{
            background: #c4dad8;
        }
          
        .title{
        color: #a8b3be;
        }
        .backdrop{
        top: 0;
        position: fixed;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        }
        .form{
            color:#9ea0b2;
            width: 450px;
            height: 400px;
            padding: 20px;
            margin-top: 100px;
            margin-left: 25%;
            background: white;
            border-radius: 30px;
            text-align: left;
            margin-left: 25%;
            

        }
        label {
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            margin-left: 20px;
            margin-top: 20px;
        }
        .form input[type=text] {
            display: block;
            padding: 10px,6px;
            margin-top: 8px;
            margin-right: 30px;
            font-size: 20px;
            height: 40px;
            width:350px;
            border: none;
            border-bottom: 2px solid #ddd;
            font-size: 20px;
            margin-left: 20px;

        }
        .form input[type="checkbox"]{
            display: inline-block;
            position:relative;
            width:16px;
            border: 2px solid lightgray;
            margin-left: 20px;
        }
        input[type=text] {
            float: center;
            padding: 6px;
            border: 2px solid lightgray;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 20px;
            width: 270px;
            border-radius: 10px;
            height: 40px;
        }
        .form button{
            float: center;
            padding: 6px;
            border: 2px solid lightgray;;
            margin-top: 30px;
            margin-right: 16px;
            margin-left: 20px;
            font-size: 17px;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            display:block;

        }
        .button {
            float: center;
            padding: 6px;
            border: 2px solid lightgray;;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
            width: 50px;
            height: 40px;
            border-radius: 10px;
        }
        
        .listItem {
            background: #c1beaf;
            border-radius: 10px;
            height: 75px;
            width: 350px;
            left: 23%;
            margin-left:30%;
            padding: 20px 20px;
            margin-top: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        .create {
            color: #123777;
            
        }
        .create:hover{
            color: #99adce;
        }
        .notice{
            color:#123777;
            text-align: left;
            margin-left:25%;
        }
    </style>
  
    
        <p><br></p>
        <h1 class="title">StudyNet - Add Friend/Group</h1>
        <h3 onload="console.log('load chat');">Find new study groups and friends below</h3>
        <p><br></p>
        <form action="/chat/groupsearch" method="post">
            {% csrf_token %}
            <input class="input" name="groupname" type="text"  placeholder="Search..." >
            
            <button  class="button" type="submit" >
                <i class="bi bi-search"></i>
            </button>

            <input class = "radio" type="radio" name="search_type" value="private_group">
            <label> Private group</label>

            <input class = "radio" type="radio" name="search_type" value="public_group">
            <label> Public group</label>

            <input class = "radio" type="radio" name="search_type" value="friend">
            <label> Friend</label>

        </form>
        
        
        <p><br></p>
        <div class="notice">
        <p> You can search by:</p>
        <p> 1. Group name - explore public groups and join freely</p>
        <p> 2. Group ID - join private group, ask the target group member for the group ID</p>
        <p> 3. User ID - add friend, ask your friend for his/her user ID <br></p>
        </div>
        {% block form %}
        <h1>defult content</h1>
        {% endblock %}
        <p><br></p>
        <div id="app">
            <!--<div class="search-result" v-if="showList" >-->
                <div class="listItem" @click="addGroup(item)" v-for="item in res_group_list" :key="item" >
                    <p>[[item]]</p>
                </div>
            <!--</div>-->
        </div>
        <p><br></p>
        <h2>No suitable group found? <a onclick="location.href='/chat/groupcreate';"  class="create">CREATE</a> a new group!</h2>
        
        set to be private or public
        ask for group name 
        create cancel
        new group 
        <p><br></p>
        <p><br></p>
        <p><br></p>
        
          
    {{ res_group_list|json_script:"res_group_list" }}
    

  <script>
      
    let res_group_list = JSON.parse(document.getElementById('res_group_list').textContent);
    const app =  Vue.createApp({
        delimiters: ['[[', ']]'],
        el: '#app',
        data() {
            return {
                res_group_list: res_group_list
            }
        },
        methods: {
            addGroup(item){
                console.log(item)
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const formData = new FormData();
                formData.append('group_name', item);
                formData.append('csrfmiddlewaretoken', csrftoken)
                fetch("groupadd", {
                    headers:{'X-CSRFToken': csrftoken},
                    method: 'POST',
                    body: formData,

                })
            }
            
        },
        mounted: function(){
            console.log('== mounted ==')
        }
    });
    app.mount('#app');

      //document.getElementById("listItem-friend").onclick =  function (e){
      //  console.log(e);
      //  friend_list.push({ 'name': 'Wendy', 'ID': 123456, 'photo': 'photo1.jpg' });
      //console.log(friend_list);
      //}
    
      
  </script>
{% endblock %}