{% extends "chat/group.html" %}

{% block content %}
<style>
    .title{
        padding:0;
        margin:2vh 0;
        color: #a8b3be;
    }
    
    .sideBar-item-bottom{
    background: #c4dad8;
    }
    .people-list {
        /*display: none;*/
        width: 250px;
        height: 80vh;
        position: absolute;
        border: 2px solid white;
    }

.chat{
    border-radius: 3px;
    background: rgba(248, 250, 251, 0.4);
    width: 85vw;
    margin-bottom: 3vh;
    height: 80vh;
}
.people-list .list-title{
    background: #eae7e2;
    color: #728796;
    font-size: 20px;
    text-align: left;
    height: 6vh;
    border: 2px solid #e8f1f3;
}
.people-list .list-title p{
    margin: 1vh;
}

.people-list .chat-list{
    overflow-y: scroll;
    height: 32.5vh;
    border: 2px solid white;
    margin: 0;
    padding: 0;
}
.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    text-align: left;
    border-bottom: 2px solid lightgrey;
    height: 5vh;
    vertical-align: middle;
}
.people-list .chat-list li p{
    margin: auto;
    padding-top: 1vh; 

}
.people-list .chat-list li div{
    margin: auto;
    padding-top: 1vh; 

}
.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%;

}

@media screen and (max-width: 700px) {
    .people-list {
        display: none !important;
    }
    .chat-block{
        margin-left: 0px !important;
    }
}

.clearfix-title {
    height: 20px;
    border-top: #444;
}
.claerfix{
    text-align: left;

}
.chat-block{
    margin-left: 250px;
    border: 2px solid white;
    height: 80vh;
}
.chat-header {
    
    border: 2px solid white;
    height: 8vh;
    background: #eee3e0;

}
.chat-header p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 2vh;
}
.chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
    
}



.chat-history {
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 64vh;
}

.chat-history ul {
    padding: 0
}

.chat-history ul li {
    list-style: none;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 13px;
    margin-right: 13px;
}

.chat-history ul li:last-child {
    padding-bottom: 10px;
}

.chat-history .message-data {
    margin-bottom: 15px;
    display: block;
    
}

.chat-history .message-data img {
    border-radius: 40px;
    width: 40px
    
}

.chat-history .message-data-time {
    color: #434651;
    padding-left: 6px;
    display: block;
    margin-left: auto; 
    margin-right: 0;
    font-size: 13px;
}

.chat-history .message {
    color: #444;
    padding: 13px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display:  block;
    position: relative
}

.chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat-history .otherMessage {
    background: #efefef;
    float: left;
    text-align: left;
}

.chat-history .otherMessage:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat-history .myMessage {
    background: #e8f1f3;
    float: right;
    margin-right:10px;
    text-align: left;
}

.chat-history .myMessage:after {
    border-bottom-color: #e8f1f3;
    left: 90%
}
.chat-message {
    padding: 0px;
    height: 6vh;
    align-items: left;
}
.chat-message input{
    width: 85%;
    height: 6vh;
    border-radius: 5px;
    font-size: 20px;
    border: 3px solid lightgray;
    display:flex;

}
.chat-message span{
    float: left;
    width: 8%;
    height: 6vh;
    border: 3px solid lightgray;
    border-radius: 5px;
    margin-left: 3px;
}
.textright{
    margin-right:10px;
}
</style>

<div id="app">
    <h1 class="title">StudyNet - [[current_user]] -ChatBox</h1>
    <div class="chat"> 
        <div id="plist" class="people-list ">
                
            <div class="list-title">
                <p>Friends:</p>
            </div>  
                
            <ul class="chat-list">
                <li class="list-item" @click="enterFriendChatroom(friend)" v-for="friend in friend_list " :key="friend">
                        <!--<img :src="require('../../assets/'+friend.photo )">-->
                    <p class="friend-name">[[friend]]</p>
                    <!--<div class="status"> <i class="fa fa-circle online"></i> online </div>-->     
                </li> 
            </ul>

            <div class="list-title">
                <p>Groups:</p>
            </div>  
            <ul class="chat-list">                                      
                <li class="list-item"  @click="enterGroupChatroom(group)" v-for="group in group_list" :key="group">   
                    <div class="group-name">[[group]]</div>
                    <!--<div class="status"> <i class="fa fa-circle online"></i> online </div>-->
                </li>  
            </ul>
        </div>

        <div class="chat-block">
            <div class="chat-header">
                <!--<img src="../../assets/photo2.jpg" alt="avatar">-->            
                <p >[[room_name]]</p>
            </div>
            
            <div class="chat-history ">
                <ul class="history-list">
                    <li class="history-item"  v-for="mes in prev_messages" :key="mes.message">
                        <div class="message-data" >
                            <!--:class="{textright: mes.sender == current_user}"-->
                            <span class="message-data-time">[[mes.time]]</span>
                        </div>
                        <div class="message " :class="{otherMessage: mes.sender != current_user , myMessage: mes.sender == current_user}">[[mes.message]]</div>                                    
                    </li>                               
                </ul>
            </div>

            <div class="chat-message">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" @click="clickSend"><i class="bi bi-send-fill" style="font-size: 5vh"></i></span>
                    </div>
                    <input v-model="myInput" @keyup.enter="clickSend" type="text" class="form-control" placeholder="Enter text here...">                                    
                </div>
            </div>
        </div>
    </div>
</div>

    {{ room_name|json_script:"room_name" }}
    {{ prev_messages|json_script:"prev_messages" }}
    {{ current_user|json_script:"current_user" }}
    {{ group_list|json_script:"group_list" }}
    {{ friend_list|json_script:"friend_list" }}

<script>

    let room_name = JSON.parse(document.getElementById('room_name').textContent);
    let prev_messages = JSON.parse(document.getElementById('prev_messages').textContent);
    let current_user = JSON.parse(document.getElementById('current_user').textContent);
    let group_list = JSON.parse(document.getElementById('group_list').textContent);
    let friend_list = JSON.parse(document.getElementById('friend_list').textContent);
    console.log(room_name);
    console.log( prev_messages);
    console.log( current_user)
    
    const app =  Vue.createApp({
        delimiters: ['[[', ']]'],
        el: '#app',
        
        data() {
            return {
                room_name: room_name,
                current_user: current_user,
                prev_messages: prev_messages,
                chatSocket: null,
                myInput: "",
                group_list: group_list,
                friend_list: friend_list
            }
        },
        methods: {
            enterFriendChatroom(friend){
                console.log(friend)
                window.location.pathname = '/chat/' + 'f' + friend +'/'
            },
            enterGroupChatroom(group){
                console.log(group)
                window.location.pathname = '/chat/' + 'g' + group +'/'
            },
            clickSend(){
                if (this.myInput != ""){
                    console.log(this.myInput)
                    this.chatSocket.send(JSON.stringify({
                        message: this.myInput,
                        username: this.current_user
                    }))
                    this.myInput = ""
                }
                
            },
        },
        mounted: function(){
            console.log("Starting connection to WebSocket Server")
            
            this.chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + room_name + '/')

            this.chatSocket.onmessage = (event) => {
                console.log(event)
                var data = JSON.parse(event.data)
                var message = data.message
                if (message) {
                    this.prev_messages.push(message)
                    console.log(this.prev_messages)
                }
            }
            
            this.chatSocket.onopen = function(event) {
                console.log(event)
                console.log("Successfully connected to the echo websocket server...")
            }
            this.chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            }
        }
    });
    app.mount('#app');

</script>
{% endblock %}
