{% extends "chat/groupadd.html" %}

{% block form %}

<h1>Hello</h1>
<div class="backdrop" >
    <div class = "form" >
        <form action="/chat/groupcreate" method="post">
            {% csrf_token %}
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:rgb(126, 49, 49)">{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
            <label>Group Name: <br></label>
            <input type="text" required name="groupname">

            <label>Group Description: </label>
            <input type="text" required name="description">

            <p></p>
            <input type="checkbox" name="private" >
            <label> Set to be private</label>

            <button type="submit">Create</button>
            
        </form>
    </div>
</div>

{% endblock %}