<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <title>Studynet</title>
    <link rel="shortcut icon" href="{% static '1.jpg'%}">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="refresh" content="30">
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />
    <link
    rel="stylesheet"
    href="animate.min.css"/>
  </head>

  <body>  
    <ul class = "list-menu">
        <b id = "header" class = "header" >Studynet</b>
        <li><a href="user/profile">My Profile</a> </li>
        <li><a href="auth/signin">Begin Study!</a> </li>
        <li><a href="support">Support Studynet</a> </li>
        <li><a href="about">About Our Team</a> </li>
        <li><a href="/">Homepage</a> </li>
    </ul>   


    <div class="content-bodyh">
      

      <table class = "content-table" style="text-align:center">
          <pre class="introduction" style=" width:700px;font-size:1.5rem;top:100px;left:26%; line-height: 40px;" >Studynet Team
Studynet is built on the expertise of our teams.
The technique team is all from well-known university
all over the world and have more than 
10 years experience in software engneering area.
Our purpose comes to life through our four core values:
 Client Service, Excellence, Integrity, and Partnership.
</pre>

    <canvas id="myline"  class="myline"></canvas>
    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
</html>