<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <title>Studynet</title>
    <link rel="shortcut icon" href="{% static '1.jpg'%}">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />
  </head>

  <body>  
    <ul class = "list-menu">
        <b id = "header" class = "header" >Studynet</b>
        <li><a href="user/profile">My Profile</a> </li>
        <li><a href="auth/signin">Begin Study!</a> </li>
        <li><a href="support">Support Studynet</a> </li>
        <li><a href="about">About Our Team</a> </li>
        <li><a href="/">Homepage</a> </li>
    </ul>   


    <div class="content-bodyh">


      <table class = "content-table" style=text-align:center>
        <tr>
        <td><img id="pic" class="image" src="{% static '11.jpg' %}"></td>
            <td ><pre class="introduction" >- Studynet, as a powerful and
efficient tool, can provide students
a comfortable study experience 
and help to achieve
their academic goals.</pre></td>  
            </tr>
    </table>
    <canvas id="myline"  class="myline"></canvas>
    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
</html>