<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <title>Studynet</title>
    <link rel="shortcut icon" href="{% static '1.jpg'%}">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Ubuntu&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet"> 
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />
  </head>

  <body>  
    <ul class = "list-menu">
        <b id = "header" class = "header" >Studynet</b>
        <li><a href="auth/signin">Begin Study!</a> </li>
        <li><a onclick="support()">Support Studynet</a> </li>

        <li><a onclick="about()">About Our Team</a> </li>
        <li><a href="/">Homepage</a> </li>
    </ul>   


    <div class="content-bodyh">
      <table class = "content-table" style=text-align:center id="main">
        <tr>
        <td><img id="pic" class="image" style="display:none;" src="{% static '11.png' %}"></td>
            <td ><p id="main-text" class="introduction" style="display:none;" >- Studynet, as a powerful and 
              efficient tool, can provide students a comfortable study 
              experience and help to achieve their academic goals.</p></td>  
            </tr>
            <dl class="content-list" id="list1">
              <dt>Study Function</dt><br>
              <dd>- Create your own task list</dd><br>
              <dd>- Operate the stored list</dd><br>
              <dd>- Generate your weekly study report</dd><br>
              </dl> 
              <dl class="content-list" id="list2" style="top: 60vh;  border-left:2px ;border-top-width:2px ;">
              <dt>Chat Function</dt><br>
              <dd>- Create your own study group</dd><br>
              <dd>- Add your friend to study together</dd><br>
              <dd>- Discuss problems freely in Chat</dd><br>
              </dl>
      </table>

      <table  class = "content-table"  style="text-align:center;"><!--the support page-->
        
      <pre class="introduction" id="support" style="display:none;width:76vw;height:45vh;font-size:1.5rem;top:20vh;left:10%; line-height: 5vh;" >
Your support is vital and helps the Museum to share the value with the world.
The Studynet relies on support from a wide range of sources.
There are many ways that you can donate to help us:
You can donate as an individual,through a foundation, trust or company. 
Your support helps us to do the following:
1.Create world-wide platform to enhance the communication.
2.Care for, study and share the efficient study experience
3.Engage local and global communities with what we do
</pre>
      </table>

      <table class = "content-table" style="text-align:center"><!--the about page-->
      <p class="introduction" id="about"  style=" display:none;width:700px;height:200px;font-size:1.5rem;top:35vh;left:26%; line-height: 40px;" >
Studynet is built on the expertise of our teams.
The technique team is all from well-known university
all over the world and have more than 
10 years experience in software engneering area.
Our purpose comes to life through our four core values:
Client Service, Excellence, Integrity, and Partnership.
</p>
      </table>
    <canvas id="myline"  class="myline"></canvas>
    </div>
    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#pic").fadeIn(700, function () {
        $("#main-text").fadeIn(500,function(){
          $("#list1").fadeIn(300)
          $("#list2").fadeIn(300)
        });
      });
    });
  
  
    function about() {
      $("#list1").fadeOut();
      $("#list2").fadeOut();
      $("#main").fadeOut();
      $("#support").fadeOut();
      $("#about").fadeIn();
    }
  
    function support() {
      $("#list1").fadeOut();
      $("#list2").fadeOut();
      $("#main").fadeOut();
      $("#about").fadeOut();
      $("#support").fadeIn();
    }
  


  </script>
</html>