<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <title>Studynet</title>
    <link rel="shortcut icon" href="{% static '1.jpg'%}">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="refresh" content="30">
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />
    <link
    rel="stylesheet"
    href="animate.min.css"/>
  </head>

  <body>  
    <ul class = "list-menu">
        <b id = "header" class = "header" >Studynet</b>
        <li><a href="auth/signin">Begin Study!</a> </li>
        <li><a href="support">Support Studynet</a> </li>
        <li><a href="about">About Our Team</a> </li>
        <li><a href="/">Homepage</a> </li>
    </ul>   


    <div class="content-bodyh">
      

      <table class = "content-table" style="text-align:center">
          <pre class="introduction" style=" width:800px;height:410px;font-size:1.5rem;top:100px;left:22%; line-height: 40px;" >Support Studynet
Your support is vital and helps the Museum to share the value with the world.
The Studynet relies on support from a wide range of sources.
There are many ways that you can donate to help us:
You can donate as an individual,through a foundation, trust or company. 
Your support helps us to do the following:
1.Create world-wide platform to enhance the communication.
2.Care for, study and share the efficient study experience
3.Engage local and global communities with what we do
</pre>

    <canvas id="myline"  class="myline"></canvas>
    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
</html>