

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Studynet</title>
    <link rel="stylesheet" href="../style.css" />
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="content-body">
      <div class="form-wrapper">
        <form class="bewhite" id="message" >  <!-- can change action="a.php" method="get" -->

                <div class="field-group">
                <label class="label" for="txt-Comfirmation">Comfirmation</label><br/>
                <input class="input-send" type="Comfirmation" id="txt-Comfirmation" name="Comfirmation" placeholder="Enter Comfirmation code" />
                <input class="btn-send" id="btn"  type="button" onclick="send()" value="Send"/>
              </div>
              <div class="field-group">
                <input class="btn-submit" type="submit" value="Confirm" onclick="signup()" /><!-- can change -->
              </div>
        </form>

        <div class="begrey">
          <small class="link-about">What is Studynet?       <a href="../homepage.html"> Back to Home </a></small>
        </div>
      </div>
    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
</html>