<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Ubuntu&display=swap" rel="stylesheet">

    <style>
      .form-wrapper {
        margin-top: 80px;
      }
      body {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        color: #2c3e50;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
<h1>Index</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h3>Hello {{fname}}</h3>
<button type="submit"><a href="/auth/signout">Sign Out</a></button>

</body>
</html>