<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Studynet</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="{% static 'signup.js' %}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .form-wrapper {
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <div class="content-body">
      <div class="form-wrapper">
        <form class="bewhite" id="message" action="/auth/signup" method="post">  <!-- can change -->
          {% csrf_token %}
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
          <h1 class="text-title">Studynet Sign Up</h1>
          <br/>

          <div class="field-group">
            <label class="label" for="">User name</label>
            <input class="input" type="text" id="username" name="username" placeholder="Create a username (letters and numbers)" Required>
          </div>

          <div class="field-group">
            <label class="label" for="">First name</label>
            <input class="input" type="text" id="firstname" name="firstname" placeholder="Enter your First Name" Required>
          </div>

          <div class="field-group">
            <label class="label" for="">Last name</label>
            <input class="input" type="text" id="lastname" name="lastname" placeholder="Enter your Last Name" Required>
          </div>

          <div class="field-group">
            <label class="label" for="">Email address</label>
            <input class="input" type="email" id="email" name="email" placeholder="Enter your email address" Required>
          </div>

          <div class="field-group">
            <label class="label" for="">Password</label>
            <input class="input" type="password" id="pass1" name="pass1" placeholder="Create a password" Required>
          </div>

          <div class="field-group">
            <label class="label" for=""> Confirm your password</label>
            <input class="input" type="password" id="pass2" name="pass2" placeholder="Confirm your password" Required>
          </div>

          <div class="field-group">
            {% csrf_token %}
            <label class="label" for="">Comfirmation</label>
            <span>
            <input class="input" type="text" id="email_ver" name="email_ver" placeholder="Enter Comfirmation code" Required>
            <input class="btn-send" id="btn" type="button" onclick="send();" value="Send">
            </span>
          </div>


          <div class="field-group">
            <button class="btn-submit" type="submit" name="signup">Sign up</button><!-- can change -->
          </div>
        </form>

        <div class="begrey">
          <small class="link-about">What is Studynet?  <a href="/"> Back to Home </a></small>
        </div>
      </div>
    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
  <script type="text/javascript">
    var a ;
    function amy(){}
    function send(){
        a = 10;
        email_r();
        document.getElementById("btn").style="cursor:default";
        timeVar=setInterval(function(){setTime()},1000);


}
    function setTime(){
        document.getElementById("btn").value= a + "s";
        a=a-1;
        if(a<=0) {        
        document.getElementById("btn").value= "Send";
        document.getElementById("btn").style="cursor:pointer";
        clearInterval(timeVar);}
    }

  </script>
</html>