<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Studynet</title>
    <link rel="shortcut icon" href="1.jpg">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="refresh" content="300">
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Ubuntu&display=swap" rel="stylesheet">

  </head>
  <style>
    .form-wrapper {
      margin-top: 10px;
    }
    body {
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
      color: #2c3e50;
      margin: 0;
      padding: 0;
    }
      button {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        color: #2c3e50;
        margin: 0;
        padding: 0;
      }
      input {
        font-family: 'Ubuntu', sans-serif;
        color: #2c3e50;
        margin: 0;
        padding: 0;
      }
  </style>
  <body>
    <ul class = "navbar">
      <li><a href="/task/tasklist">My Task</a></li>
      <li><a href="/chat/grouplist">My Friends/Groups</a></li>
      <li class = "nav_of_group"><a href="/user/profile">My Profile</a></li>
      <li><a href="/">Sign Out</a></li>
  </ul>
    <div class="content-body">
      <div class="form-wrapper">
        <form class="bewhite" id="message" action="/user/changepwd" method="post">  <!-- can change -->
          {% csrf_token %}
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:rgb(76, 119, 165)">{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}

          <h1 class="text-title">Reset password</h1>
          <br/>

          <div class="field-group">
            <label class="label" for="">User Name</label>
            <input class="input" type="text" id="username" name="username" placeholder="Enter your user name" Required>
          </div>

          <div class="field-group">
            <label class="label" for="">Old Password</label>
            <input class="input" type="password" id="pass0" name="pass0" placeholder="Enter old password" Required>
          </div>

          <div class="field-group">
            <label class="label" for="">New Password</label>
            <input class="input" type="password" id="pass1" name="pass1" placeholder="Enter new password" Required>
          </div>

          <div class="field-group">
            <label class="label" for="">Confirm your new password</label>
            <input class="input" type="password" id="pass2" name="pass2" placeholder="Confirm your new password" Required>
          </div>
          
          <div class="field-group">
            <button class="btn-submit" type="submit" name="update">Update</button>
          </div>

        </form>
      </div>
    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
</html>