<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Studynet</title>
    <link rel="shortcut icon" href="1.jpg">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="refresh" content="300">
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />
  </head>

  <body>
    <div class="content-body">
      <div class="form-wrapper">

        <form class="bewhite" id="message" action="/user/profile" method="get">  <!-- can change -->
          <h1 class="text-title">Personal Information</h1>
          <br/>

          <div class="field-group">
            <div id="head" ><img src='profile/default.png' alt="selfie" width=300 height=300 /></div> 
          </div>

          <div class="field-group">
            <label class="label" >Email Address:</label>
            <p id="email_text"></p>
          </div>
          <div class="field-group">
            <label class="label" >User Name:</label>
            <p id="user_name"></p>
          </div>
          
        </form>

        <form class="bewhite" id="message" action="/user/updatephoto" method="post">  <!-- can change -->
          {% csrf_token %}
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}

          <div class="field-group">
            <label class="label" for="">Upload a new profile photo</label>
            <input class="form-control" type="file" id="image" name="image">
          </div>

          <div class="field-group">
            <button class="btn-submit" type="submit" name="update">Update</button>
          </div>

        </form>

        <div class="begrey">
          <a href=changepwd class="link-register">Change your password</a>
          <small class="link-about">Notice: Click the head portrait to change it.</small>
        </div>
      </div>
    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
</html>