<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Studynet</title>
    <link rel="shortcut icon" href="1.jpg">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="refresh" content="300">
    <meta name="msapplication-TileColor" content="#6371C5" />
    <meta name="theme-color" content="#6371C5" />
    
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Ubuntu&display=swap" rel="stylesheet">

    <style>
      .round_icon{
        width: 120px;
        height: 120px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
      .form-wrapper {
      margin-top: -10px;
      }
      body {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        color: #2c3e50;
        margin: 0;
        padding: 0;
      }
      button {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        color: #2c3e50;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <ul class = "navbar">
      <li><a href="/task/tasklist">My Task</a></li>
      <li><a href="/chat/grouplist">My Friends/Groups</a></li>
      <li class = "nav_of_group"><a href="/user/profile">My Profile</a></li>
      <li><a href="/">Sign Out</a></li>
  </ul>
    <div class="content-body">
      <div class="form-wrapper">

        <form class="bewhite" id="message" action="/user/profile" method="get">  <!-- can change -->
          <h1 class="text-title">My Profile</h1>
          <br/>
          {% csrf_token %}
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:rgb(172, 103, 103)">{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}

          <div class="field-group">
            <div id="head" ><img src={{image}} class='round_icon' alt="selfie" width=300 height=300 /></div> 
          </div>

          <div class="field-group">
            <label class="label" >User Name: {{username}}</label>
            <p id="user_name"></p>
          </div>
          <div class="field-group">
            <label class="label" >User ID: {{id}}</label>
            <p id="user_id"></p>
          </div>
          <div class="field-group">
            <label class="label" >Your study report is {{status}} now.</label>
            <p id="privacy"></p>
          </div>
        </form>

        <form class="bewhite" id="message" action="/user/updatephoto" method="post">  <!-- can change -->
  
          <div class="field-group">
            <label class="label" for="">Upload a new profile photo</label>
            <input class="form-control" type="file" id="image" name="image">
          </div>

          <div class="field-group">
            <button class="btn-submit" type="submit" name="update">Update</button>
          </div>

        </form>

        <form class="bewhite" id="privacy" action="/user/updateprivacy" method="post">
          <div class="field-group">
            <input class="form-check-input" type="radio" name="privacy" id="0" value="0" onclick="onlyOne(this)">
            <label class="form-check-label" for="new-color-red">Set my study report to be private.</label>
          </div>
          <div class="field-group">
            <input class="form-check-input" type="radio" name="privacy" id="1" value="1" onclick="onlyOne(this)">
            <label class="form-check-label" for="new-color-green">Set my study report to be public to friends.</label>
          </div>

          <button class="btn-submit" id="set_privacy" type="submit">Update privacy</button>
        </form>

        <div class="begrey">
          <a href=changepwd class="link-register">Change your password</a>
        </div>
      </div>
    </div>

    <!-- Bottom line -->
    <footer>

      <span class="author">&nbsp;
        Crafted with ❤️ by Studynet © 2022
      </span>
    </footer>
    <!--  Bottom line -->
  </body>
</html>

<script>
  function onlyOne(checkbox) {
    var checkboxes = document.getElementsByName('new-color')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })

}
</script>